# list files & folders to fetch with 'ffsync pull' here
#
# -> delimit files/directories with spaces or newlines
# -> simply list a directory/like/so/ to copy hidden files
# -> append a/star/to/it/* to omit hidden files!

/etc/profile
/etc/hosts
/etc/dropbear/authorized_keys
/etc/config/network
/etc/config/wireless
/etc/config/system
/root/
